# Imports

In [1]:
import pandas as pd

# helper functions

# Best threshold to put

In [33]:
df_train = pd.read_csv("../../flask_back/rsc/datasets/train_aug.csv")
display(df_train.head(3))
display(df_train.shape)

df_test = pd.read_csv("../../flask_back/rsc/datasets/test_aug.csv")
display(df_test.head(3))
display(df_test.shape)

,text,intent_encoded,__index_level_0__,input_ids,attention_mask,labels,intent
0,This be Bella,8,25,[ 101 2023 2022 12101 102 0 0 ...,[1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0],8,GreetingResponse
1,Who am I please,22,204,[ 101 2040 2572 1045 3531 102 0 0 0 ...,[1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0],22,WhoAmI
2,I americium Bella,8,27,[ 101 1045 2572 22420 5007 12101 102 ...,[1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0],8,GreetingResponse

(192, 7)

,text,intent_encoded,__index_level_0__,input_ids,attention_mask,labels,intent
0,Tell me what time it is?,20,110,[ 101 2425 2033 2054 2051 2009 2003 1029 102 ...,[1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0],20,TimeQuery
1,Hello how are you?,2,34,[ 101 7592 2129 2024 2017 1029 102 0 0 ...,[1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0],2,CourtesyGreeting
2,I am bored gossip with me,6,220,[ 101 1045 2572 11471 13761 2007 2033 1...,[1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0],6,Gossip

(48, 7)